@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap');

* {
  margin: 0;
  font-family: 'New Tegomin', serif;
  color: #0a0708
}

body {
  background-color: #ffe2e2;
  font-size: 28px;
  text-shadow: 4px 4px 4px rgb(199, 97, 155);
  text-align: center;
}

.container { 
  background-color: rgba(235, 108, 171, 0.685);
  border: 2px #f7759a;
  border-radius: 100px; 
  }

.button-color {
  color: #000000
}

.inputs {
  color: #000000
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 340px;
}

.content {
  height: 104vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.welcome-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 340px;
}

.footer {
  font-size: 15px;
}

.about {
  font-size: 20px;
}




/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

